// Agloe
@require './_mixins.styl'
@require 'jeet'


html, body
  margin 0

#map
  height 100vh

select[name='map-type']
  position absolute
  opacity 0
  z-index 100

.gmnoprint, .gmnoscreen, .gm-style-cc, a[target='_blank'] div
  display none
